#**Import Library**

In [5]:
import pandas as pd

##**Memuat Dataset**

In [6]:
file = "/content/drive/MyDrive/Jihan/synthetic_coffee_health_10000.csv"

df = pd.read_csv(file)

df

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,NaN,Other,0,0
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,NaN,Service,0,0
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,0,1
9996,9997,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,0,0
9997,9998,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,NaN,Student,1,1
9998,9999,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,NaN,Student,0,0
9999,10000,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,NaN,Student,1,0

#**Business Understanding**

## **Business Objective**

Dataset Global Coffee Health

Data ini merupakan sebuah data yang mencerminkan pola konsumsi kopi, perilaku tidur, dan hasil kesehatan di dunia nyata di 20 negara. Permasalahan yang ingin dianalisis adalah bagaimana konsumsi kopi dan kadar kafein memengaruhi kualitas tidur tingkat stres serta kondisi kesehatan seperti BMI dan detak jantung.

Dalam dataset ini terdapat 10.000 baris dan 16 kolom.

## **Assess Situation**

Dataset Global Coffee Health berisi data tentang kebiasaan minum kopi pola tidur dan kondisi kesehatan dari berbagai negara. Data dalam dataset ini cukup beragam dan saling berkaitan sehingga perlu dipahami dengan baik sebelum dianalisis. Dengan banyaknya variabel, analisis diperlukan agar hubungan antara konsumsi kopi dan kesehatan dapat terlihat lebih jelas. Selain itu data yang digunakan bukan data asli melainkan data buatan yang menyerupai kondisi nyata (data sintetis), sehingga hasil analisis tidak bisa dianggap sebagai kondisi sebenarnya.

##**Analytic Goals & Project Plan**

Melalui analisis dataset ini akan dilakukan :



*   mengidentifikasi pola konsumsi kopi
*   menganalisis keterkaitan konsumsi kopi dengan kualitas tidur dan kesehatan


*   menyajikan hasil analisis dalam bentuk visualisasi data
*   memberikan insight untuk pengambilan keputusan